<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="mainInterno">
            <a href="/" class="btnVoltar">
                <img src="{{ url_for('static', filename='img/arrow-sm-left-svgrepo-com.svg') }}" alt="imagem-voltar" class="imgVoltar">
                <p class="voltar">Voltar</p>
            </a>
        </div>
    </header>
    <main>
        <div class="mainInterno">
            <div class="informacoes">
                <h1>
                    Envio de Provas e Questões
                </h1>
                <p class="envieArquivos">
                    Envie arquivos em formatos PDF, DOCX ou TXT para processar suas provas/questões.
                </p>
            </div>
            <div class="areaGeralUpload">
                <div class="areaUpload">
                    <div class="formatosAceitos">
                        <p>Formatos aceitos:</p>
                        <div class="formato">
                            <img src="{{ url_for('static', filename='img/red-paper-file-text-svgrepo-com.svg') }}" alt="imagem-papel" class="imgPapelPDF">
                            <p class="nomeFormatoPDF">PDF</p>
                        </div>
                        <div class="formato">
                            <img src="{{ url_for('static', filename='img/blue-paper-file-text-svgrepo-com.svg') }}" alt="imagem-papel" class="imgPapelDOCX">
                            <p class="nomeFormatoDOCX">DOCX</p>
                        </div>
                        <div class="formato">
                            <img src="{{ url_for('static', filename='img/gray-paper-file-text-svgrepo-com.svg') }}" alt="imagem-papel" class="imgPapelTXT">
                            <p class="nomeFormatoTXT">TXT</p>
                        </div>
                    </div>
                    <div class="dropArea">
                        <img src="{{ url_for('static', filename='img/upload-minimalistic-svgrepo-com.svg') }}" alt="imagem-upload" class="imgUpload">

                        <p class="arrasteArquivo">
                            <strong>
                                Arraste e solte seus arquivos
                            </strong>
                        </p>

                        <p class="ou">
                            ou
                        </p>

                        <input type="file" id="arquivo" name="arquivo" hidden multiple>

                        <label for="arquivo" class="btnUpload">
                            Selecionar Arquivo
                        </label>

                    </div>
                </div>
            </div>
            <div class="listarArquivosGeral">
                <div class="listarArquivos" hidden>
                    <div class="quantidadeArquivos">
                        <h1 class="arquivosSelecionados">Arquivos Selecionados</h1>
                        <strong>
                            <p></p>
                        </strong>
                    </div>
                    
                    <div class="listagemArquivos"></div>

                </div>
            </div>
            <div class="areaBotaoEnviar">
                <button class="btnEnviar" disabled>
                    Selecione pelo menos um arquivo válido
                </button>
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>

</body>

</html>