* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #F5F7FA;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #C5C5C5;
    padding: 15px;
    background-color: white;
    position: fixed;
    width: 100%;
}

.headerInterno {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 10px;
}

.imgLogoHeader {
    width: 45px;
}

.nomePlataforma {
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-top: 90px;
}

.mainInterno {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 30px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imgLogoMain {
    width: 150px;
    min-width: 100px;
}

.cartoes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cartoesAgentes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #C5C5C5;
    border-radius: 15px;
    min-width: 200px;
    width: 25%;
    padding: 25px;
    gap: 10px;
    flex-direction: column;
}

.imagemAgente {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF1F3;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.imgAgente {
    width: 25px;
}

.botaoAtivarAgente {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D8386;
    min-width: 150px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

.areaGeralUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.areaUpload {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 30px;
    border: 1px solid #C5C5C5;
    border-radius: 15px;
    padding: 40px;
}

.formatosAceitos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #C5C5C5;
    font-size: 14px;
    gap: 20px;
    max-height: 150px;
    padding-bottom: 30px ;
}

.formato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imgPapelPDF, .imgPapelDOCX, .imgPapelTXT {
    width: 18px;
}

.nomeFormatoPDF {
    color: #C10007;
}

.nomeFormatoDOCX {
    color: #1166D4;
}

.nomeFormatoTXT {
    color: #4B4B4B;
}

.dropArea {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #C5C5C5;
    border-radius: 15px;
    flex-direction: column;
    padding: 50px;
    gap: 10px;

}

.imgUpload {
    width: 70px;
}

.btnUpload {
    background-color: #0F172B;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}

.areaBotaoEnviar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btnEnviar {

    text-align: center;
    background-color: #CAD5E2;
    color: white;
    padding: 15px 40px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    width: 60%;
}
