* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


:root {
    /* backgrounds */
    --bg-main: #F5F7FA;
    --bg-header: #ffffff;

    /* border color */
    --border-accent: #16A149;
    --border-default: #C5C5C5;
    
    /* text color */
    --text-primary: #000000;
    --text-inverse: #ffffff;

    /* feedback / states */
    --color-sucess: #16A149; 

}


body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--bg-main);
    color: var(--text-primary);
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-default);
    padding: 15px;
    background-color: var(--bg-header);
    position: fixed;
    width: 100%;
}


.headerInterno {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 10px;
}


.imgLogoHeader {
    width: 45px;
}


.nomePlataforma {
    font-size: 20px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-top: 100px;
}


.mainInterno {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 30px;
}


.informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.imgLogoMain {
    width: 150px;
    min-width: 100px;
}


.cartoes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.cartoesAgentes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid var(--border-default);
    border-radius: 15px;
    width: clamp(300px, 390px, 400px);
    padding: 25px;
    gap: 10px;
    flex-direction: column;
}


@media (max-width:967px) {
    .cartoesAgentes {
        width: 100%;
    }   
}


.imagemAgente {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF1F3;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}


.imgAgente {
    width: 25px;
}


.botaoAtivarAgente {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D8386;
    min-width: 150px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    text-decoration: none;
    color: var(--text-inverse);
}


.areaGeralUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.areaUpload {
    display: flex;
    flex-direction: column;
    width: clamp(400px, 840px, 900px) ;
    gap: 30px;
    border: 1px solid var(--border-default);
    border-radius: 15px;
    padding: 40px;
}


.formatosAceitos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-default);
    font-size: 14px;
    gap: 20px;
    max-height: 150px;
    padding-bottom: 30px ;
}


.formato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.imgPapelPDF, .imgPapelDOCX, .imgPapelTXT {
    width: 18px;
}


.nomeFormatoPDF {
    color: #C10007;
}


.nomeFormatoDOCX {
    color: #1166D4;
}


.nomeFormatoTXT {
    color: #4B4B4B;
}


.dropArea {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed var(--border-default);
    border-radius: 15px;
    flex-direction: column;
    padding: 50px;
    gap: 10px;
    text-align: center;
    cursor: pointer;
}


.dropArea.dragAtivo {
  border-color: var(--border-accent);
  background-color: rgba(22, 161, 73, 0.08);
}


.dropArea.dragAtivo::after {
    display: block;
    margin-top: 10px;
    color: var(--color-sucess);
}


.imgUpload {
    width: 70px;
}


.btnUpload {
    background-color: #0F172B;
    color: var(--text-inverse);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}


.listarArquivos:not([hidden])  {
    display: flex;
    flex-direction: column;
    width: clamp(400px, 840px, 900px) ;
    padding: 20px 40px 20px 40px ;
    border: 1px solid var(--border-default);
    border-radius: 15px;
    gap: 10px;
    overflow-wrap: break-word;
    word-break: break-word;
}


.listagemArquivos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
}


.quantidadeArquivos {
    align-items: center;
    display: flex;
    gap: 10px;  
    overflow-wrap: normal;
    word-break: normal;
}


.arquivosSelecionados {
    font-size: 24px;
}


.listarArquivosGeral {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.itemArquivo {
    border: 1px solid var(--border-accent);
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    flex-wrap: wrap;
    background-color: #E7F5EC;
    width: 100%;
}


.imgPapelUpload {
    width: 30px;
}


.informacoesArquivo {
    display: flex;
    align-items: center;
    gap: 5px;
}


.informacoesFinal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}


.formatoArquivo {
    color: var(--color-sucess);
}


.tamanhoArquivo {
    font-size: 12px;
    color: var(--color-sucess);
}


.imgX {
    width: 25px;
}


.areaBotaoEnviar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.btnEnviar {
    border: none;
    text-align: center;
    background-color: #CAD5E2;
    color: var(--text-inverse);
    padding: 15px 40px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    width: clamp(400px, 840px, 900px) ;
}


.btnEnviar.ativo {
    background-color: #144EEC;
    cursor: pointer;
}


.btnVoltar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    font-size: 14px;
    width: 100px;
    padding: 12px;
    text-decoration: none;
    color: var(--text-primary);
    border-radius: 15px;
    gap: 10px;
    transition: 0.5s ease;
}


.btnVoltar:hover {
    transition: 0.5s ease;
    box-shadow: 0 4px 10px #C5C5C5;
}


.imgVoltar {
    width: 20px;
}
